extends layout

block content

  h1 Agenda

  p: a(href="/materias") GESTIONAR MATERIAS

  if materias == ""
    p No hay materias
  else
    #divProximos
      each materia, i in ordAgenda
        span.
          #[span(class='proxFechaFinal') #{materia.fecfinal}] -
          #{materia.actnombre} .#{materia.descripcion}.
          [#{materia.matnombre}] #{materia.puntos} pts
          #[span(class="proxDiasFaltan") -]
          #{materia.calificacion} #[br]
    br
    #divTablasAgenda
      each materia, i in materias
        div(class="unaTabla", data-materia="#{materia-matnombre}")
          table(class="agenda")
            caption= materia.matnombre
            thead
              th(class="modifborrar") M~B
              th(class="actnombre") Actividad
              th(class="descripcion") Descripción
              th(class="fecinicio") Fecha inicio
              th(class="fecfinal") Fecha final
              th(class="puntos") Puntos
              th(class="calificacion") Calif
            tbody
              each actividad, i in agenda
                if actividad.matnombre == materia.matnombre
                  tr
                    td(data-key="modborr")
                      // modificar y borrar
                      a(data-materia="#{materia.matnombre}", data-actividad="#{actividad.actnombre}", href="/modificarActividad") m
                      span ~
                      a(data-materia="#{materia.matnombre}", data-actividad="#{actividad.actnombre}", href="/borrarActividad") b
                    td(data-key="actnombre")= actividad.actnombre
                    td(data-key="descripcion")= actividad.descripcion
                    td(data-key="fecinicio")= actividad.fecinicio
                    td(data-key="fecfinal")= actividad.fecfinal
                    td(data-key="puntos")= actividad.puntos
                    td(data-key="calificacion")= actividad.calificacion
              tr
                td(colspan="7", class="comando")
                  a(data-materia="#{materia.matnombre}", href="/nuevaActividad") Nueva actividad
            tfoot
              tr
                td(colspan="5") Puntaje
                td(data-key="actPuntajeParcial", class="total") -
                td(data-key="actPuntajeParcialObtenido", class="total") -
              tr
                td(colspan="5") Nota
                td(data-key="actNotaParcial", colspan="2", class="total") -
            br

block append scripts
  script(src="/javascripts/agenda.js")
